{
  "swagger": "2.0",
  "info": {
    "title": "HR Policy Lookup API",
    "description": "Custom file-metadata lookup tool for Copilot Studio (Pattern C — Dual-Tool Routing). Mirrors the canonical file_metadata_lookup tool definition from honestypugh2/foundry-copilot-search-validate (src/agents/orchestrator_pattern_b.py). Returns metadata fields only — it does NOT call the knowledge base or synthesize an answer.",
    "version": "1.0.0"
  },
  "host": "ca-backend-zptc7utdm2gis.nicedune-3f634c43.eastus2.azurecontainerapps.io",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/lookup": {
      "post": {
        "summary": "Look up the storage location of an HR policy document",
        "description": "Look up the storage location, file path, blob URL, and filename for a document in the HR policy knowledge base. Use this tool when the user asks WHERE a document is located, asks for a file path, URL, link, blob storage path, or document location. This performs a direct index search for metadata fields only — it does NOT use the knowledge base. Do NOT use this for content/policy questions.",
        "operationId": "lookupHRPolicyDocument",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["query"],
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The search query to find the document. Include policy number and/or document title (e.g. 'PTO policy 50010', 'Code of Ethics 10000', 'uniform dress code')."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup results — metadata fields only, no backend model synthesis",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The original document-location query submitted to the lookup API."
                },
                "policy_id": {
                  "type": "string",
                  "description": "The policy number of the highest-ranked matching document, such as 50020."
                },
                "title": {
                  "type": "string",
                  "description": "The authoritative title of the highest-ranked matching policy document."
                },
                "blob_url": {
                  "type": "string",
                  "description": "The direct HTTPS URL of the highest-ranked matching policy document. Return this URL verbatim to the user."
                },
                "expanded_query": {
                  "type": "string",
                  "description": "The normalized query used to search the policy index."
                },
                "total": {
                  "type": "integer",
                  "description": "The number of matching policy documents returned by the lookup."
                },
                "processing_time_ms": {
                  "type": "integer",
                  "description": "The server-side lookup duration in milliseconds."
                },
                "documents": {
                  "type": "array",
                  "description": "Ranked matching policy documents and their authoritative storage metadata.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "policy_number": {
                        "type": "string",
                        "description": "The policy number for this matching document."
                      },
                      "parent_title": {
                        "type": "string",
                        "description": "The authoritative policy title for this matching document."
                      },
                      "metadata_storage_name": {
                        "type": "string",
                        "description": "The source document filename in storage."
                      },
                      "metadata_storage_path": {
                        "type": "string",
                        "description": "The authoritative source storage path for this document."
                      },
                      "blob_url": {
                        "type": "string",
                        "description": "The direct HTTPS URL for this matching policy document."
                      },
                      "score": {
                        "type": "number",
                        "description": "The Azure AI Search relevance score for this match."
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {"description": "Missing or blank query"},
          "503": {"description": "Search service unavailable"}
        }
      }
    }
  }
}
