{
  "swagger": "2.0",
  "info": {
    "title": "HR Policy Q&A API",
    "description": "Answers HR policy questions using the Foundry Agent Service (Pattern B) backed by an Azure AI Search Knowledge Base accessed via MCP.",
    "version": "1.0.0"
  },
  "host": "ca-backend-zptc7utdm2gis.nicedune-3f634c43.eastus2.azurecontainerapps.io",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/chat": {
      "post": {
        "summary": "Ask an HR policy question",
        "description": "Returns a grounded answer with inline policy citations. Use this when the user asks for an explanation, definition, or content from an HR policy. Illustrative latency is 10-14 seconds and varies by environment.",
        "operationId": "askHRPolicy",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["message"],
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Free-text user question, e.g. 'How many PTO hours do I accrue?'"
                },
                "conversation_history": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": {"type": "string"},
                      "content": {"type": "string"}
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Answer with citations",
            "schema": {
              "type": "object",
              "properties": {
                "answer": {"type": "string"},
                "citations": {"type": "array", "items": {"type": "object"}},
                "policy_references": {"type": "array", "items": {"type": "string"}},
                "confidence": {"type": "number"},
                "processing_time_ms": {"type": "integer"}
              }
            }
          }
        }
      }
    }
  }
}
